/* border: 선두께 선모양 선색상 */
table,
th,
td {
  border: 1px solid black;
}
table {
  border-collapse: collapse;
  /* 테이블 너비  */
  width: 90%;
}

/* 행높이 */
tr {
  height: 50px;
}
/* th : 왼쪽정렬 */
th {
  text-align: left;
  vertical-align: bottom; /*아래 정렬*/
}
/* td 안쪽 여백 */
td {
  padding: 10px;
}
