* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #333338;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #444;
}

.main-content p,
.main-content h3 {
  margin: 15px 0;
}
.cotainer {
  display: flex;
}

/* main-content, sidebar 배경색 #eee, 안쪽여백 6, 바깥여백10 */
.main-content,
.sidebar {
  background-color: #eee;
  margin: 10px;
  padding: 6px;
}
/* panel 배경색 흰색, 안쪽여백20 바깥여백10 */
.panel {
  background-color: white;
  margin: 10px;
  padding: 20px;
}

.sidebar {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
