* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.row div:first-child {
  background-color: #aaa;
}
.row div:nth-child(2) {
  background-color: #bbb;
}
.row div:nth-child(3) {
  background-color: #ccc;
}
.row div:last-child {
  background-color: #ddd;
}

.row .colum {
  float: left;
  width: 25%;
  padding: 20px;
}

/* max-width:992 */
@media screen and (max-width: 992px) {
  .row .colum {
    width: 50%;
  }
}
/* max-width:600 */
@media screen and (max-width: 600px) {
  .row .colum {
    width: 100%;
  }
}
